trigger:
  - none

pool: 
  name: "agent1_pool"

variables:
- group: global_variable   # contains INFRACOST_API_KEY secret variable
- name: state_file_name
  value: vinodinfra.tfstate
- name: filepath
  value: $(System.DefaultWorkingDirectory)/env/dev
- name: TF_INPUT
  value: false

stages:
  - stage: "Stage1_download_init_validate"
    jobs:
      - job: infra_install
        displayName : "Terraform Init"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - template: templates/terraform-init.yml
          parameters:
            workingDirectory: $(filepath)
            backendServiceArm: infra_conn
            storageAccountName: vinodstoragemaina
            containerName: container22
            stateFileKey: $(state_file_name)
       

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: $(filepath)

  - stage: "Security_Tools"
    displayName: "Security & Compliance Checks"
    dependsOn: "Stage1_download_init_validate"
    jobs:
      - job: "tflint"
        displayName: "tflint"
        continueOnError: true
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            workingDirectory: $(System.DefaultWorkingDirectory)/env/dev
            script: |
              # Write your tflint commands here.
              tflint --recursive

     
      - job: "tfsecccc"
        displayName: "tfsec"
        continueOnError: true
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            workingDirectory: $(System.DefaultWorkingDirectory)/env/dev
            script: |
              # Write your  tfsec commands here.
              tfsec

     
      - job: "trivy"
        displayName: "trivy scan"
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            workingDirectory: $(System.DefaultWorkingDirectory)/env/dev
            script: |
              # Write your trivy commands here.
              trivy config .
  
          
  - stage: "infraCost"
    dependsOn: "Security_Tools"
    jobs:
      - job: "cost_infra"
        displayName: "Infra cost"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(filepath)
            backendServiceArm: 'infra_conn'
            backendAzureRmStorageAccountName: 'vinodstoragemaina'
            backendAzureRmContainerName: 'container22'
            backendAzureRmKey: $(state_file_name)
        
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Setting API key"
               $env:INFRACOST_API_KEY = "$(INFRACOST_API_KEY)"
              
              Write-Host "API key loaded? ->" $env:INFRACOST_API_KEY
              
               infracost breakdown --path=.
            workingDirectory: $(filepath)

  - stage: infraPlan
    displayName: "Terraform Plan"
    dependsOn: "infraCost"
    jobs:
    - job: terraform_plan
      displayName: "Terraform Plan"
      steps:
      - task: TerraformInstaller@1
        inputs:
         terraformVersion: 'latest'

      - template: templates/terraform-init.yml
        parameters:
          workingDirectory: $(filepath)
          backendServiceArm: infra_conn
          storageAccountName: vinodstoragemaina
          containerName: container22
          stateFileKey: $(state_file_name)

      - task: TerraformTask@5
        inputs:
          provider: azurerm
          command: plan
          workingDirectory: $(filepath)
          environmentServiceNameAzureRM: infra_conn

  - stage: "stage3_apply"
    dependsOn: "infraPlan"
      
    jobs:
      - job: "terrafomr_apply"
        displayName: "apply"
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest' 
        
        - template: templates/terraform-init.yml
          parameters:
            workingDirectory: $(filepath)
            backendServiceArm: infra_conn
            storageAccountName: vinodstoragemaina
            containerName: container22
            stateFileKey: $(state_file_name)

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: $(filepath)
            commandOptions: '-auto-approve'
            environmentServiceNameAzureRM: 'infra_conn'